{% load static %}

<!-- Radial Charts

1. rc_title
2. rc_month
3. rc_data_percentage_1
4. rc_data_total_1
5. rc_name_1
6. rc_data_percentage_2
7. rc_data_total_2
8. rc_name_2
9. rc_data_percentage_3
10. rc_data_total_3
11. rc_name_3

-->

<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between mb-3">
        <div class="flex items-center">
            <div class="flex justify-center items-center">
                <h5 class="text-xl sm:text-2xl font-bold leading-none text-gray-900 dark:text-white pe-1">{{ rc_title }}
                </h5>
            </div>
        </div>
    </div>
    <div class="bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
        <div class="grid grid-cols-3 gap-3 mb-2">
            <dl class="bg-orange-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
                <dt class="w-8 h-8 rounded-full bg-orange-100 dark:bg-gray-500 text-orange-600 dark:text-orange-300 text-sm font-medium flex items-center justify-center mb-1">
                    {{ rc_data_total_3 }}</dt>
                <dd class="text-orange-600 dark:text-orange-300 text-sm font-medium">{{ rc_name_3 }}</dd>
            </dl>
            <dl class="bg-teal-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
                <dt class="w-8 h-8 rounded-full bg-teal-100 dark:bg-gray-500 text-teal-600 dark:text-teal-300 text-sm font-medium flex items-center justify-center mb-1">
                    {{ rc_data_total_2 }}</dt>
                <dd class="text-teal-600 dark:text-teal-300 text-sm font-medium">{{ rc_name_2 }}</dd>
            </dl>
            <dl class="bg-blue-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
                <dt class="w-8 h-8 rounded-full bg-blue-100 dark:bg-gray-500 text-blue-600 dark:text-blue-300 text-sm font-medium flex items-center justify-center mb-1">
                    {{ rc_data_total_1 }}</dt>
                <dd class="text-blue-600 dark:text-blue-300 text-sm font-medium">{{ rc_name_1 }}</dd>
            </dl>
        </div>
    </div>
    <!-- Radial Chart -->
    <div class="py-6" id="radial-chart"></div>

    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
        <div class="flex justify-between items-center pt-5">
            <!-- Teks -->
            <p class="text-sm font-medium text-gray-500 dark:text-gray-400 text-center inline-flex items-center">
                {{ day_ago }} Hari Terakhir
            </p>

            <p class="text-sm font-medium text-gray-500 dark:text-gray-400 text-center inline-flex items-center">
                {{ rc_month }}
            </p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'dist/apexcharts.js' %}"></script>

<script>
    const getRadialChartOptions = () => {
        return {
            series: ["{{ rc_data_percentage_1 }}", "{{ rc_data_percentage_2 }}", "{{ rc_data_percentage_3 }}"],
            colors: ["#1C64F2", "#16BDCA", "#FDBA8C"],
            chart: {
                height: "380px",
                width: "100%",
                type: "radialBar",
                sparkline: {
                    enabled: true,
                },
            },
            plotOptions: {
                radialBar: {
                    track: {
                        background: '#E5E7EB',
                    },
                    dataLabels: {
                        show: false,
                    },
                    hollow: {
                        margin: 0,
                        size: "32%",
                    }
                },
            },
            grid: {
                show: false,
                strokeDashArray: 4,
                padding: {
                    left: 2,
                    right: 2,
                    top: -23,
                    bottom: -20,
                },
            },
            labels: ["{{ rc_name_1 }}", "{{ rc_name_2 }}", "{{ rc_name_3 }}"],
            legend: {
                show: true,
                position: "bottom",
                fontFamily: "Inter, sans-serif",
            },
            tooltip: {
                enabled: true,
                x: {
                    show: false,
                },
            },
            yaxis: {
                show: false,
                labels: {
                    formatter: function(value) {
                        return value + '%';
                    }
                }
            }
        }
    }

    if (document.getElementById("radial-chart") && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.querySelector("#radial-chart"), getRadialChartOptions());
        chart.render();
    }
</script>