{% if request.user.is_superuser %}
<li>
    <a href="{% url 'admin_dashboard' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'admin_dashboard' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=wFfu6zXx15Yk&format=png&color=000000" alt="Dashboard Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Dashboard</span>
    </a>
</li>
{% if fitur_siswa == True %}
<li>
    <a href="{% url 'admin_siswa' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'admin_siswa' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=2HnyYObAxn8V&format=png&color=000000" alt="Siswa Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Siswa</span>
    </a>
</li>
{% endif %}
{% if fitur_guru == True %}
<li>
    <a href="{% url 'admin_guru' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'admin_guru' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=DUi0tw0LJ06n&format=png&color=000000" alt="Guru Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Guru</span>
    </a>
</li>
{% endif %}
{% if fitur_karyawan == True %}
<li>
    <a href="{% url 'admin_karyawan' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'admin_karyawan' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=AbCtmdbp1IVO&format=png&color=000000" alt="Karyawan Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Karyawan</span>
    </a>
</li>
{% endif %}
<li>
    <a href="{% url 'admin_atribut' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'admin_atribut' in request.resolver_match.url_name or 'admin_atribut_kelas' in request.resolver_match.url_name or 'admin_atribut_jenjang' in request.resolver_match.url_name or 'admin_atribut_jabatan' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=gFFfCmnKgcB8&format=png&color=000000" alt="Atribut Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Atribut</span>
    </a>
</li>
<li>
    <a href="{% url 'admin_sakit' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'admin_sakit' in request.resolver_match.url_name or 'admin_sakit_detail' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=UOcrd7WBnwWW&format=png&color=000000" alt="Sakit Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Sakit</span>
    </a>
</li>
<li>
    <a href="{% url 'admin_izin' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'admin_izin' in request.resolver_match.url_name or 'admin_izin_detail' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=31081&format=png&color=000000" alt="Izin Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Izin</span>
    </a>
</li>
<li>
    <a href="{% url 'admin_verifikasi' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'admin_verifikasi' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=pIPl8tqh3igN&format=png&color=000000" alt="Izin Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Verifikasi</span>
    </a>
</li>
<li>
  <a href="{% url 'admin_tanggal_merah' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'admin_tanggal_merah' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
      <img src="https://img.icons8.com/?size=100&id=12776&format=png&color=000000" alt="Izin Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
      <span class="ms-3">Tanggal Merah</span>
  </a>
</li>

{% else %} {% if user_is_siswa == True %}
<li>
    <a href="{% url 'siswa_dashboard' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'siswa_dashboard' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=wFfu6zXx15Yk&format=png&color=000000" alt="Dashboard Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Dashboard</span>
    </a>
</li>
<li>
    <a href="{% url 'siswa_statistik' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'siswa_statistik' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=mOCU2P4rcj4p&format=png&color=000000" alt="Dashboard Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Statistik</span>
    </a>
</li>
<li>
    <a href="{% url 'siswa_pengaturan' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'siswa_pengaturan' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=xsg8DrPwYfql&format=png&color=000000" alt="Pengaturan Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Pengaturan</span>
    </a>
</li>
{% elif user_is_guru == True %}
<li>
    <a href="{% url 'guru_dashboard' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'guru_dashboard' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=wFfu6zXx15Yk&format=png&color=000000" alt="Dashboard Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Dashboard</span>
    </a>
</li>
<li>
    <a href="{% url 'guru_statistik' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'guru_statistik' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=mOCU2P4rcj4p&format=png&color=000000" alt="Dashboard Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Statistik</span>
    </a>
</li>
<li>
    <a href="{% url 'guru_pengaturan' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'guru_pengaturan' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=xsg8DrPwYfql&format=png&color=000000" alt="Pengaturan Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Pengaturan</span>
    </a>
</li>
{% elif user_is_karyawan == True %}
<li>
    <a href="{% url 'karyawan_dashboard' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'karyawan_dashboard' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=wFfu6zXx15Yk&format=png&color=000000" alt="Dashboard Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Dashboard</span>
    </a>
</li>
<li>
    <a href="{% url 'karyawan_statistik' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'karyawan_statistik' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=mOCU2P4rcj4p&format=png&color=000000" alt="Dashboard Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Statistik</span>
    </a>
</li>
<li>
    <a href="{% url 'karyawan_pengaturan' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if 'karyawan_pengaturan' in request.resolver_match.url_name %}bg-gray-100 dark:bg-gray-700{% endif %}">
        <img src="https://img.icons8.com/?size=100&id=xsg8DrPwYfql&format=png&color=000000" alt="Pengaturan Icon" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        <span class="ms-3">Pengaturan</span>
    </a>
</li>
{% endif %} {% endif %}
