{% extends 'base.html' %} {% load static %} {% block content %}
<c-dashboard title="Dashboard Absensi" logo="{{ logoimage }}">
    <div class="flex flex-col mt-14 gap-4 dark:bg-gray-700">
    {% include 'notification.html' %}
        {% if edit_data_izin_siswa %} {% for data in edit_data_izin_siswa %}
        <c-heading title="Siswa Izin" subtitle="Edit Data Siswa Izin"></c-heading>
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6">
            <form method="POST" action="{% url 'admin_izin_siswa' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="id" value="{{ data.id }}">
                <div class="flex flex-col gap-4">
                    <div>
                        <label for="nama" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama
                            Siswa</label>
                        <select id="nama" name="nama" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required>
                            <option value="{{ data.user }}" selected>{{ data.user }}</option>
                            {% for siswa in siswa_list %}
                            {% if siswa.username != data.user %}
                            <option value="{{ siswa.username }}">{{ siswa.username }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="keterangan" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Keterangan</label>
                        <textarea id="keterangan" name="keterangan" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>{{ data.keterangan }}</textarea>
                    </div>
                    <button type="submit" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Perbarui
                        Data</button>
                </div>
            </form>
        </div>
        <div class="flex justify-start p-2">
            <a href="{% url 'admin_izin_siswa' %}" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-700 bg-transparent border border-gray-700 rounded-lg hover:bg-gray-50 focus:ring-2 focus:outline-none focus:ring-gray-300 dark:text-gray-400 dark:border-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> Kembali
            </a>
        </div>
        {% endfor %} {% else %}
        <c-heading title="Siswa Izin" subtitle="Data Siswa Izin">
            <img src="https://img.icons8.com/?size=100&id=2HnyYObAxn8V&format=png&color=000000" alt="Siswa Icon" class="w-10 h-10 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
        </c-heading>
        <c-tables title="Data Siswa Izin" subtitle="Data Siswa Izin" :columns="{{ table_columns|safe }}" :data="{{ table_data|safe }}">
            <c-slot name="actionsbutton">
                <c-btn-add modal-title="Tambah Data" url="{% url 'admin_izin_siswa' %}" button-title="Tambah Data" button-modal-title="Tambah">
                    <div class="flex flex-col gap-4 w-full">
                        <div>
                            <label for="nama" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama
                                Siswa</label>
                            <select id="nama" name="nama" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required>
                                <option value="" selected disabled>Pilih Siswa</option>
                                {% for siswa in siswa_list %}
                                <option value="{{ siswa.username }}">{{ siswa.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="keterangan" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Keterangan</label>
                            <textarea id="keterangan" name="keterangan" rows="4" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></textarea>
                        </div>
                    </div>
                </c-btn-add>
                <c-btn-delete url="{% url 'admin_izin_siswa' %}"></c-btn-delete>
            </c-slot>
        </c-tables>
        <div class="flex justify-start p-2">
            <a href="{% url 'admin_izin' %}" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-700 bg-transparent border border-gray-700 rounded-lg hover:bg-gray-50 focus:ring-2 focus:outline-none focus:ring-gray-300 dark:text-gray-400 dark:border-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> Kembali
            </a>
        </div>
        {% endif %}
    </div>
</c-dashboard>
{% endblock %}
